@import url('https://fonts.googleapis.com/css2?family=Lemon+Tuesday&display=swap');

body {
    font-family: 'Lemon Tuesday', cursive;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 10px 20px;
    border: 2px solid #000;
}


.nav-links {
    list-style: none;
    display: flex;
}


.nav-links li {
    padding: 10px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
}

.scrittaLogin{
    color:grey;
    font-size: smaller;
    font-family: 'Lemon Tuesday', cursive;
    text-align: center;
}

.inputLogin{
    width: 30%;
    padding: 10px;
    margin: 5px 35%;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: left;
}
#bottoneLogin{
    background-color: #2e37be;
    color: white;
    width: 15%;
    padding: 10px;
    margin: 5px 35%;
    border-radius: 5px;
    border: 1px;
}
#scrittaRegister{
    text-align: center;
    width: 80%;
    font-size:medium;
    margin-top: 5%;
}
